.test {
    color: red;
}

@media only screen and (max-width: 768px) {
  .disappear {
    display: none;
  }
}

.overallBackground {
    background-color: whiteSmoke;
}

.titleBar {
    background-color: whiteSmoke
    margin: 5px;
    padding: 2px;
}

.mainContent {
    background: white;
    margin: 3px;
    padding: 10px;
}